body{
  background-color: #ffc0cb;
  font-family: monospace;
  color: #666666;
  font-weight: bold;
  font-size: 23px;
}
#function{
  margin-top: 3%;
  font-size: 23px;
  margin-left: 10%;
}
.Content{
  border-radius: 55px;
  margin: 0 auto;
  margin-top: 5%;
  width:60%;
  height:55%;
  padding: 5%;
  color: #666666;
  background-color: #fff;
}
.n_content{
  width: 100%;
  height: 85%;
  margin: 0 auto;
  border: none;
  font-size: 26px;
}
.btn_set{
  width: 40%;
  height: 15%;
  float: right;
  margin-top: 4%;
  margin-right: 5%;
}
.button{
  width: 30%;
  height: 50%;
  margin-right: 10%;
  font-size: 26px;
  font-weight:bold;
  border: none;
  border-radius: 15px;
  background: #666666;
  color:#fff;

}
